# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
.env/
.venv/
data/
/full_model.pth
/confusion_matrix.csv
/training_data.json
/test_data.pt
/eval
/loss.png
/mnist_model.onnx
/mnist_model_1.onnx
/mnist_model_2.onnx
/mnist_model_4.onnx
/mnist_model_8.onnx
/mnist_model_16.onnx
/mnist_model_32.onnx
/mnist_model_64.onnx
/mnist_model_128.onnx
/mnist_model_256.onnx
/dvc_plots
/tensorrt_inteference.txt
