onnx==1.17.0
onnx-tool==0.9.0
psutil==7.0.0
pynvml==12.0.0
torch==2.6.0
torchmetrics==1.7.1
torchvision==0.21.0
matplotlib==3.10.1
numpy==2.2.5
PyYAML==6.0.2
tensorrt
scikit-learn==1.6.1
onnxscript==0.2.4